@model IEnumerable<SimpleToDoApp.Models.Todo>
@{
    ViewData["Title"] = "Заметки на неделю";
}
<div style="display: flex; align-items: center">
    <h1 style="margin-right: 40px; margin-bottom: 20px">Неделя</h1>
    <a class="btn-link" style="color: #418f0d" asp-controller="Home" asp-action="Create">Создать</a>
</div>

<div class="todos">
    @foreach (var item in Model)
    {
    <div class="card border-success mb-3" >
        <div class="card-body">
            <p class="card-text">@item.Text</p>
        </div>
        <div class="card-footer">
            <label>@item.EndData.ToString()</label>    
        <form method="post" asp-action="Delete" asp-route-id="@item.ID">
         <button type="submit"
                 class="btn btn-danger btn-sm"
                 onclick="return confirm('Вы действительно хотите удалить заметку?')">
             Удалить
         </button>
     </form>
        </div>      
    </div>
    }
</div>

