@model IEnumerable<SimpleToDoApp.Models.Todo>
@{
    ViewData["Title"] = "Все заметки";
}
<h1>Сегодня</h1>

<div class="todos">
    @foreach (var item in Model)
    {

    <div class="card bg-light mb-3" >
        <div class="card-body">
            <p class="card-text">@item.Text</p>
        </div>
        <div class="card-footer">
            <label>@item.DataCreation.ToString()</label>
            <form method="post" asp-action="Delete" asp-route-id="@item.ID">
                <button type="submit" 
                        class="btn btn-danger btn-sm"
                        onclick="return confirm('Вы действительно хотите удалить заметку?')">
                    Удалить
                </button>
            </form>
        </div>
        
    </div>

    }
</div>

